.board {

    padding: 5px;

    #column-1 {
        width: 20%;
    }

    #column-2 {
        width: 60%;
    }

    #column-3 {
        width: 20%;
    }

    display: flex;

    .column {
        padding: 5px;
        border-radius: 2px;
        width: 300px;
        background-color: white;
        display: flex;
        flex-direction: column;

        .h3 {
            padding: 8px;
        }

        .task {
            border-radius: 2px;
            margin-bottom: 8px;
        }
    }
}
