.board {

    display: flex;

    .column {
        margin: 8px;
        padding: 8px;
        border: 1px solid lightgrey;
        border-radius: 2px;
        width: 300px;
        background-color: white;
        display: flex;
        flex-direction: column;



        .h3 {
            padding: 8px;
        }

        .task {
            border: 1px solid lightgrey;
            border-radius: 2px;
            padding: 8px;
            margin-bottom: 8px;
        }
    }
}
